# The commands are self-explanatory.
# System Control
systemctl poweroff
systemctl reboot
systemctl suspend
systemctl hibernate

# Bluetooth Control
bluetoothctl
# then, list devices to get the bluetooth device's MAC address
devices
# pair with the device
pair {mac_address_of_chosen_device}
# finally, connect with the device
connect {mac_address_of_chosen_device}
